/* Brand */

.Brand {
  background: #fff;
  color: #000;
  text-decoration: none;
}

Link {
  color: #e31b23;
}

/* Nav */

.nav-link {
  color: #f00;
}

.nav-item {
  color: #0f0;
}

#ManageServicesBtn {
  margin-left: auto;
  margin-right: 15px;
}

.navbar-expand-lg {
  justify-content: space-between;
  position: relative;
}

.navbar-brand {
  position: absolute;
  left: 4px;
  top: 4px;
}

/* Nav Response*/

@media screen and (min-width: 992px) {
  .navbar-expand-lg {
    flex-direction: row-reverse;
    justify-content: end;
  }

  .CollapsableNav {
    width: 330px;
    position: absolute;
    right: 150px;
  }

  .CollapsableNav.skips {
    width: 600px;
  }
}

/* Landing Page */

#LandingPage {
}

#LandingPage #ManageServicesBtn {
  margin-right: 0;
}

/* Landing Page Nav Assurance Message*/

.navbar-brand span {
  display: none;
}

@media screen and (min-width: 960px) {
  .navbar-brand span {
    display: inline-block;
    padding-top: 8px;
    font-size: 1rem;
  }
}

.LandingPagePanel {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 50px 0 0 0;
}

.LandingPagePanel a {
  text-align: center;
  background: #fff;
  width: 100%;
  height: 80%;
  text-decoration: none;
}

.LandingPagePanel h1 {
color: #000;
text-transform: uppercase;
font-size:calc(1rem + 1.5vw);
}

.LandingPagePanel img {
  padding: 0 10% 30px 10%;
}

.LandingPagePanel p {
  color: #000;
  
}

/* Buttons */

.btn-primary {
background-color:#e31b23;
  border-color: #e31b23;
  text-transform: uppercase;
}

/* Forms */

.TermsModalBtn {
  cursor: pointer;
  padding-top: 0px;
}

.TermsCheckbox {
  display: inline-block;
  padding-top: 15px;
  margin-right: -6px;
}

.TermsModalBtn,
.TermsCheckbox {
  display: inline-block;
}

.OrderformHead {
    text-align: center;
  }



@media (min-width: 576px) {

  .OrderformHead {
    text-align: right;
  }
}


.SplitHeading h1 {
    text-align: center;
    
  }

@media (min-width: 576px) {

 .SplitHeading h1 {
    text-align: left;
  }
}


/* Footer */

.Footer {
  background-image: url("https://cdn.glitch.com/62dc5d7b-74d0-43a4-84cf-9d776e17c335%2FGrassTexture.jpg?v=1632865751247");
  background-repeat: repeat-x;
  background-position: bottom 0 right 0;
  position: absolute;
  bottom: 0;
}

.FooterTruck {
  background-image: url("https://cdn.glitch.com/62dc5d7b-74d0-43a4-84cf-9d776e17c335%2FRedlidTruckFooter.jpg?v=1632865751569");
  background-position: bottom 0 right 0;
  background-repeat: none;
  background-size: contain;
  

}