.nav-link {
  color: #f00;
}

.nav-item {
  color: #0f0;
}

#ManageServicesBtn {
  margin-left: auto;
  margin-right: 15px;
}
  

.navbar-expand-lg {
  justify-content: space-between;
  position: relative;
}

.navbar-brand {
position: absolute;
  left: 4px;  
    top: 4px;
}


@media screen and (min-width: 960px) {
  
  .navbar-expand-lg {
   flex-direction: row-reverse;
  justify-content: end;
  }
  
  .CollapsableNav {
    width: 330px; 
    position: absolute;
    right: 150px;   
  }
  
  }

#LandingPage {
height: calc(100vh - 54px);
}

#LandingPage #ManageServicesBtn {
    margin-right: 0;
}

.LandingPagePanel {
display: flex;
  align-items: center;
  justify=content: center;  
  height: calc(50vh - 27px);
  background: #05c;
}

.LandingPagePanel h1 {
display: block;
}

.LandingPagePanel img {
display: block;
}